.imggg {
    width: 200px;
    margin-left: 3vw;
    margin-bottom: 5%;
}

.iconss{
    display: flex;
    gap: 2vw;
    color: brown;   
}
.iconss a{
   color: white; 
}
.iconss a:hover{
    color: rgb(160, 38, 38); 
 }

.About-us-text{
    text-align: justify;
    hyphens: auto
    
}
.Services{
    text-align: start;
    font-family: Arial, sans-serif;
    color: rgb(219, 213, 213);
}
.Services .ptag{
    margin-top: 40px;
}
.Services a{
    text-decoration: none;
    color: white;
}
.Services a:hover{
    color: rgb(216, 71, 71);
}

.contact-us p a{
    text-decoration: none;
    color: white;
    font-size: small;
}
.contact-us p a:hover{
    text-decoration: none;
    color: rgb(199, 96, 96);
    font-size: small;
}

.location{
    margin-right: 2vw;
}
.location li{
    list-style-type: none;
    margin-top: 30px;
    line-height: 5px;
}
.location li a{
    text-decoration: none;
    color: white;
}

.location li a:hover{
    text-decoration: none;
    color: rgb(233, 18, 18);
}

.logos{
    margin-top: 6vw;
    height: 100px;
    width: 100%;
}
img{
    margin-top: 1rem;
    margin-left: 3vw;
}
.About-us{
    display: flex;
    width: 100%;
    justify-content: space-around;
    color: rgb(219, 213, 213);
    margin-top: 2%;
}


.About-Text{
    width: 30vw;
    font-family: Arial, sans-serif;
    font-size: larger;
    text-align: justify;
    margin-left: 2vw;
    color: rgb(219, 213, 213);
}

.contact-us{
    text-align: justify;
    font-family: Arial, sans-serif;
    width: 30vw;
    color: rgb(219, 213, 213);
}


.Copyright-footer{
    margin: 2vw;
    text-align: center;
    color: rgb(219, 213, 213);
}

@media (max-width:900px){
    .About-us{
        flex-direction: column;
        width: 100%;
        margin-top: 2%;
    }
    .About-Text{
        width: 80%;
        margin-left: 5vw; 
    }
    .About-us-text{
        margin-left: 5vw;
    }
    .iconss{
        display: flex;
        gap: 2vw;
        margin-left: 5vw;
    }
    .Services-text{
        margin-top: 5vw;
        margin-left: 10vw;
        font-family: Arial, sans-serif;
    }
    .contact-us{
        /* text-align: justify; */
        font-family: Arial, sans-serif;
        width: 90%;
        margin-left: 10vw;       
    }
    .location{
        margin-left: 10vw;
    }
    .Copyright-footer{
       flex-direction: column;
       align-items: center;
       gap: 2vw;
        margin: 2vw;
    
    }
    
}
